.item-box {
    display: flex;
    /* overflow: hidden; */
    padding: 5px 0;
    /* align-items: center; */
}

.item-name,
.item-data {
    background-color: #ffffff50;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: small;
    padding: 10px;
}

.item-name {
    color: #111;
    border-radius: 5px 1px 1px 5px;
    margin-right: 6px;

    display: flex;
    align-items: center;

    flex: 2;
}

.item-data {
    color: #333;
    border-radius: 1px 5px 5px 1px;

    overflow: hidden; /* Prevents the data-text from overflowing the boxes */
    white-space: nowrap; /* Prevent text from wrapping */

    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex: 5;
}

.item-text {
    overflow-x: auto; /* Adds a horizontal scrollbar when the text overflows */
}

.item-copy {
    background-color: #8585859c; /* Button background color */
    color: #f1efdf; /* Button text color */
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    border-radius: 3px;
    padding: 3px 4px;
    margin: 0 0 auto 5px;
}

.item-copy:hover {
    background-color: #33333388; /* Button background color on hover */
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
    .item-box {
        padding: 5px 0;
    }

    .item-name,
    .item-data {
        padding-top: 5px;
        padding-bottom: 5px;

        font-size: xx-small;
    }

    .item-name {
        border-radius: 4px 1px 1px 4px;
        margin-right: 4px;

        flex: 2;
    }

    .item-data {
        font-size: xx-small;
        border-radius: 1px 4px 4px 1px;

        padding-left: 5px;
        padding-right: 5px;

        flex: 5;
    }
}
