.info {
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.list-name,
.list-data {
    background-color: #ffffff50;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-name {
    color: #222;
    border-radius: 5px 1px 1px 5px;

    margin-right: 6px;
    padding: 10px;

    display: flex;
    align-items: center;

    flex: 1;
}

.list-data {
    color: #555;
    border-radius: 1px 5px 5px 1px;

    overflow: hidden; /* Prevents the data-text from overflowing the boxes */
    white-space: nowrap; /* Prevent text from wrapping */

    padding-left: 10px;
    padding-right: 10px;

    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.data-text {
    overflow-x: auto; /* Adds a horizontal scrollbar when the text overflows */
}

.copy-button {
    background-color: #8585859c; /* Button background color */
    color: #f1efdf; /* Button text color */
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    border-radius: 3px;
    padding: 3px 4px;
    margin: 0 0 auto 5px;
}

.copy-button:hover {
    background-color: #33333388; /* Button background color on hover */
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
    .info {
        padding: 10px;
    }

    .list-name,
    .list-data {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .list-name {
        font-size: xx-small;
        border-radius: 4px 1px 1px 4px;
        margin-right: 4px;
    }

    .list-data {
        font-size: xx-small;
        border-radius: 1px 4px 4px 1px;

        padding-left: 5px;
        padding-right: 5px;
    }
}
