.top-bar {
    display: flex;
    justify-content: flex-end;
    margin-top: -25px;
    margin-right: -28px;
}

.project-link,
.project-demo,
.project-copy,
.work-copy {
    background-color: #8585859c;
    color: #f1efdf;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    padding: 2.8px 5px; /* Common padding for buttons */
}

.project-link:hover,
.project-demo:hover,
.project-copy:hover,
.work-copy:hover {
    background-color: #33333388;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header-2 {
    display: flex;
    padding: 0 2px;
    margin-bottom: 4px;
    justify-content: space-between;
    align-items: center;
}

.card-name {
    margin: 5px 0;
}

.card-status {
    font-size: small;
    color: #444;
}

.card-description {
    color: #222;
    border-radius: 3px;
    padding: 10px;
    text-wrap: wrap;
    font-size: medium;
}

/* Common background styling for descriptions and tech info */
.card-description,
.tech-name,
.tech-list {
    background-color: #ffffff50;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
    .card-name {
        font-size: small;
    }

    .card-status {
        font-size: xx-small;
    }

    .card-description {
        font-size: small;
    }

    .top-bar {
        margin-top: -10px;
        margin-right: -14px;
    }

    .project-link,
    .project-demo,
    .project-copy,
    .work-copy {
        border-radius: 3px;
        margin-right: 4px;
        font-size: x-small;
        padding: 2px 3px; /* Common padding for buttons */
    }
}
