.coin-toss-container {
    text-align: center;
}

.coin {
    background: linear-gradient(to bottom left, #ebc800, #7d6a00);
    border-radius: 100%;
    border: 3px solid #a88c00;
    width: 100px;
    height: 100px;
    margin: 20px auto;
    position: relative;
    perspective: 1000px;
}

.side {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Codystar";
    font-size: 0.8rem;
    font-weight: bold;
    color: #453a00;

    position: absolute;
    backface-visibility: hidden;
}

.result {
    font-size: 1.2rem;
}

.flip {
    animation: flipAnimation 1s linear infinite;
}

@keyframes flipAnimation {
    0% {
        transform: rotateX(0deg) scale(1);
    }
    25% {
        transform: rotateX(360deg) scale(1.05);
    }
    50% {
        transform: rotateX(0deg) scale(1);
    }
    75% {
        transform: rotateX(360deg) scale(1.05);
    }
    100% {
        transform: rotateX(0deg) scale(1);
    }
}
