ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    font-size: small;
}

.list-content-type {
    background-color: #000; /* Background color for the data bar */
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}

.list-content-data {
    background-color: #444; /* Background color for the data bar */
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 5px;
    font-weight: 200;
    font-style: oblique;
}

.copy-button {
    background-color: #aaa; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    margin: 5px;
}

.copy-button:hover {
    background-color: #333; /* Button background color on hover */
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
}
