.down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .down {
        padding-bottom: 30px;
        padding-top: 20px;
    }
}
.round {
    background: #ffffff66;
    backdrop-filter: blur(10px);

    padding: 10px;
    border-radius: 100%;

    border: 2px solid #fff;

    box-shadow: 0px 0px 3px #7d7d7d;
    display: flex;
    animation: moveUpDown 1.5s ease-in-out infinite;
}

.round:hover {
    background: #ffffff44;
    border: 2px solid #ffffffa1;
}
.round:active {
    background: #ffffff33;
}

.down-icon {
    color: #fff;
    filter: drop-shadow(1px 1.5px 0.5px black);
    width: 24px;
    font-size: 24px;
}

@keyframes moveUpDown {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
