.header {
    background-color: #00000099;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 12px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-name {
    font-size: 32px;
    font-family: "Courier New", Courier, monospace;
    font-variant: small-caps;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
}

/* Sidebar button for mobile */
.sidebar-button {
    display: none; /* Initially hidden on larger screens */
    background: none;
    border: none;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-right: 10px;
}

/* Responsive navigation bar for mobile devices */
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
    text-shadow: -1px 2px 1px rgba(0, 0, 0, 0.5);
}

/* Define styles for active links */
.selected {
    color: #fff !important;
}

.content-separator {
    display: none;
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
    nav {
        display: block;
    }

    .row-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar-button {
        display: block; /* Show the sidebar button on smaller screens */
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-end;
        display: none; /* Initially hide the navigation list */
    }

    .content-separator {
        display: block;
        width: 100%;
    }

    .nav-item {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .nav-list.active {
        display: flex; /* Show the navigation list when the sidebar button is clicked */
    }
}
