body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: linear-gradient(to right, #dacaca, #859fb9); /* Gradient background color */
}

h2 {
    text-align: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2,
h3,
p,
div {
    font-family: "Playpen Sans", "Arial Narrow", Arial, sans-serif;
}

.container {
    padding: 64px 200px;
}

.card {
    background-color: #f7f7f753;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.2);
}

.card-small {
    padding: 10px;
}

.card-large {
    padding: 32px;
}

/* Collapsible sidebar for tablet devices */
@media (max-width: 900px) {
    .container {
        padding: 48px 100px;
    }
}

/* Collapsible sidebar for mobile devices */
@media (max-width: 768px) {
    h2 {
        text-align: left;
    }

    .container {
        padding: 32px;
    }

    .card-small {
        padding: 0 5px;
    }

    .card-large {
        padding: 16px;
    }
}
